<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/login.css">

    <script src="/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
      <input id="email" type="text" placeholder="email address"/>
      <input id="name" type="text" placeholder="name"/>
      <input id="password" type="password" placeholder="password"/>
      <input id="confirm-password" type="password" placeholder="confirm password"/>
      <button>create</button>
      <p class="message">Already registered? <a href="/login">Sign In</a></p>
      </div>
</body>
</html> 