<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/home/login.css">

  <script src="/js/main/main.js" defer></script>
  <title>Document</title>
</head>

<body>
  <div class="login-page">
    <button>Get User List</button>
    <p><span id="test1">메세지 테스트</span></p>
  </div>
</body>

</html>